#currentWeather {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  img {
    width: 130px;
  }
  a {
    position: absolute;
    bottom: 20px;
    font-size: 1em;
    text-decoration: none;
    color: rgb(240, 240, 240);
    animation: color-change 7s infinite;
  }
  .temperature {
    font-size: 4em;
    padding: 5px;
  }
  .description {
    font-size: 2em;
    padding: 15px;
  }
  .location {
    font-weight: 500;
  }

  @keyframes color-change {
    0% {
      color: rgb(240, 240, 240);
    }
    50% {
      color: rgb(180, 180, 180);
    }
    100% {
      color: rgb(240, 240, 240);
    }
  }
}

@media (max-height: 650px) {
  #currentWeather {
    font-size: 14px;
    img {
      width: 90px;
    }
    .description {
      padding: 5px;
    }
  }
}

@media (max-height: 550px) {
  #currentWeather {
    padding-top: 10%;
    font-size: 13px;
    img {
      width: 70px;
    }
    .description {
      padding: 5px;
    }
    #detailsPanel {
      margin-top: 25px;
      padding: 5px;
    }
  }
}

@media (max-height: 500px) {
  #currentWeather {
    font-size: 12px;
    img {
      width: 60px;
    }
  }
}
