#currentWeather {
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  img {
    width: 130px;
  }
  a {
    position: absolute;
    bottom: 6px;
    font-size: 1em;
    text-decoration: none;
    color: rgb(240, 240, 240);
    animation: color-change 7s infinite;
  }
  .temperature {
    font-size: 4em;
    padding: 5px;
  }
  .description {
    font-size: 2em;
    padding: 15px;
  }
  .location {
    font-weight: 500;
  }
  
  @keyframes color-change {
    0% {
      color: rgb(240, 240, 240);
    }
    50% {
      color: rgb(119, 119, 119);
    }
    100% {
      color: rgb(240, 240, 240);
    }
  }
}

@media (max-height: 550px) {
  #currentWeather {
    font-size: 13px;
    img {
      width: 80px;
    }
    .description {
      padding: 5px;
    }
  }
}