#detailsPanel {
  background-color: rgba(122, 122, 122, 0.4);
  margin-top: 30px;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  div {
    margin: 15px;
    text-align: center;
    font-size: 0.8em;
    p {
      padding-top: 10px;
      font-size: 2em;
    }
  }
}

@media (max-width: 550px) {
  #detailsPanel {
    font-size: 12px;
  }
}

@media (max-height: 600px) {
  #detailsPanel {
    display: none;
  }
}
