#forecast {
  background-color: rgba(71, 71, 71, 0.8);
  text-align: center;
  margin-top: 100px;
  h1 {
    font-size: 2em;
    padding: 20px;
  }
  .days {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
  }
}
