.forecastItem {
  background-color: rgb(238, 238, 238);
  border-radius: 5px;
  padding: 15px;
  min-width: 200px;
  margin: 5px;
  img {
    max-width: 5em;
  }
  .temperature {
    font-size: 2.5em;
    padding: 5px;
  }
  .description {
    font-size: 1.1em;
    padding: 20px;
  }
  .wind {
    font-size: 0.9em;
  }
}

@media (max-width: 550px) {
  .forecastItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
  }
  .description {
    width: 30%;
  }
  .days .wind {
    display: none;
  }
}