#menu {
  background-color: rgb(56, 56, 56);
  color: rgb(240, 240, 240);
  padding: 10px;
  position: fixed;
  z-index: 1;
  width: 100%;
  .main {
    font-weight: 500;
    border-bottom: rgb(88, 163, 182) 2px solid;
  }
  ul {
    display: flex;
    gap: 20px;
    list-style: none;
  }
}
