#menu {
  background-color: rgb(56, 56, 56);
  padding: 10px;
  position: fixed;
  z-index: 1;
  width: 100%;
  .main {
    font-weight: 500;
    border-bottom: rgb(88, 163, 182) 2px solid;
  }
  ul {
    display: flex;
    list-style: none;
  }
  li {
    margin-right: 10px;
  }
  a {
    text-decoration: none;
    color: rgb(240, 240, 240);
  }
}
